<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor= "let c of customers ">
            <div class="card">
                
                <div class="card-body">
                  <h2 style="text-decoration: underline;">Balance</h2>
                  <p class="card-title"><b>Account Number :</b>{{c.accno}}</p>
                  <p class="card-text"><b>Amount  :</b>{{c.amount}}</p>
                  

                </div>
              </div>
        </div>
    </div>
</div>