<div class="back">
    <h1 style="text-align: center;color: rgb(229, 191, 144);margin-top: 1%;">Hii, Welcome to the Payments बैंक</h1> 

<section class="hero">
    <div class="hero-text">
        <h2>Send and receive money with ease</h2>
        <p>Our payments app makes it simple and secure to send and receive money from anywhere in the world.</p>
        
    </div>
</section>

<section class="features">
    <h2>Features</h2>
    <ul>
        <li>
            <img src="/assets/images/hom1.jpeg" alt="Send money icon">
            <h3>Send money</h3>
            <p>Easily send money to friends and family around the world.</p>
        </li>
        <li>
            <img src="/assets/images/hom2.jpeg" alt="Request money icon">
            <h3>Request money</h3>
            <p>Request money from friends and family with just a few clicks.</p>
        </li>
        <li>
            <img src="/assets/images/home3.jpeg" alt="Secure icon">
            <h3>Secure</h3>
            <p>Our app uses the latest security features to keep your money safe.</p>
        </li>
    </ul>
</section> 
    
</div>