<button type="submit" class="butt" class="btn btn-danger" style="margin-left: 90%;margin-top: .9%;" (click)="onlogClick()">Logout</button>
<button type="submit"  class="btn btn-secondary" style="margin-left: 86%;margin-top: .9%;" (click)="oncusClick()">Registerd-Customer</button>

<h2 class="text-decoration-underline" style="text-align: center;">Welcome to the Biller Page</h2>&nbsp;&nbsp;&nbsp;

<h4 style="text-align: center; color: rgb(52, 52, 26);margin-top: 10%;">Navigate to the New Transactions Approval</h4>
<button type="submit" class="btn btn-success" style="margin-top: 1%;margin-left: 45%;" (click)="onBtnClick()">Transaction List</button>
